<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clon de yahoo</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="pagina">
        <div id="header">
            <img id="yahoo" src="../assets/images/Yahoo.png" alt="">
            <div id="inicio">
                <a>Iniciar sesion</a>
                <a>Correo</a>
            </div>
        </div>
        <div id="contenido">
            <h1>¡Buenas Noches!</h1>
            <p>Hoy es el 18 de diciembre</p>
            <div id="buscador">
                <img class="buscar" src="../assets/icons/buscar.png" alt="buscar">
                <p id="buscar_nav">Buscar en internet</p>
                <img class="buscar" src="../assets/icons/microfono.png" alt="microfono">
            </div>

        </div>
        <div id="pie">
            <footer>

            </footer>
        </div>
    </div>

</body>

</html>